*{
    margin:0;
    padding:0;
}


.main{
    background-color: #2F4F4F;
    color: #ADD8E6;
    height: auto;
    width: 265px;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    /* principal: ajuste calculadora: fundos, bordas, ajustes, espaçamento entre botões, alinhamento*/
    margin: auto;
    /* principal: ajustando calculadora centralizando na visualização do navegador */
}

.btn{
    height: auto;
    width: 40px;

    /* botôes: ajuste de tamanho padronizado*/
}
